<ng-container #modal></ng-container>

<clr-main-container>
  <ng-container #alert></ng-container>
  <clr-header>
    <div class="branding" *ngIf='screenSize > 600'>
      <a routerLink="/" href="javascript://">
        <img class="logo" src="assets/dmlogoanimated.gif">
      </a>
    </div>
    <div class="branding" *ngIf='screenSize <= 600'>
      <a routerLink="/" href="javascript://" class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">DosMasters</span>
      </a>
    </div>
    <div class="header-actions" *ngIf='screenSize > 768'>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle translation menu">
            <clr-icon shape="language"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a *ngFor="let language of languages" (click)="changeLanguage(language.abb)" clrDropdownItem>{{ language.name }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <a *ngIf='!auth.isLoggedIn()' href="javascript://" (click)="login()" class="nav-link nav-text">{{ 'AppModule.Navbar.login' | translate }}</a>
      <a *ngIf='!auth.isLoggedIn()' href="javascript://" (click)="register()" class="nav-link nav-text">{{ 'AppModule.Navbar.register' | translate }}</a>
    </div>
    <div class="header-actions" *ngIf='screenSize <= 768'>
      <clr-dropdown *ngIf='!auth.isLoggedIn()'>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle login menu">
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" (click)="login()" clrDropdownItem>{{ 'AppModule.Navbar.login' | translate }}</a>
          <a href="javascript://" (click)="register()" clrDropdownItem>{{ 'AppModule.Navbar.register' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'AppModule.Navbar.home' | translate }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active">{{ 'AppModule.Navbar.account' | translate }}</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>


