<app-login></app-login>
<app-register></app-register>

<clr-main-container>
  <!--<div class="alert alert-app-level">
      ...
  </div>-->
  <clr-header>
    <div class="branding" *ngIf='screenSize > 600'>
      <a routerLink="/" href="javascript://">
        <img class="logo" src="assets/dmlogoanimated.gif">
      </a>
    </div>
    <div class="branding" *ngIf='screenSize <= 600'>
      <a routerLink="/" href="javascript://" class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">DosMasters</span>
      </a>
    </div>
    <div class="header-actions" *ngIf='screenSize > 768'>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle translation menu">
            <clr-icon shape="language"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a *ngFor="let language of languages" href="..." clrDropdownItem>{{ language.name }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <a href="javascript://" (click)="login()" class="nav-link nav-text">Login</a>
      <a href="javascript://" (click)="register()" class="nav-link nav-text">Register</a>
    </div>
    <div class="header-actions" *ngIf='screenSize <= 768'>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle translation menu">
            <clr-icon shape="gear"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" (click)="login()" class="nav-link nav-text">Login</a>
          <a href="javascript://" (click)="register()" class="nav-link nav-text">Register</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active">Konto</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>


