.logo{
  height: inherit;
  padding:10px;
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  .logo{
    display:inherit !important;
  }
  .branding{
    max-width:100% !important;
    width:80vw;
  }
}
