<clr-modal [(clrModalOpen)]="status">
  <h3 class="modal-title">Login</h3>
  <div class="modal-body">
    <div class="login-wrapper">
      <form class="login" #login="ngForm">
        <section class="title">
          <h3 class="welcome">Welcome back to</h3>
          DosMasters
        </section>
        <div class="login-group">
          <clr-input-container>
            <label class="clr-sr-only">Username</label>
            <input required type="text" name="username" clrInput placeholder="Username" [(ngModel)]="formModel.user.username" #username="ngModel"/>
          </clr-input-container>
          <clr-password-container>
            <label class="clr-sr-only">Password</label>
            <input required type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="formModel.user.password" #password="ngModel"/>
          </clr-password-container>
          <div *ngIf='error' class="error active">
            Invalid user name and/or password
          </div>
          <button type="submit" class="btn btn-primary loginButton" (click)="logi()" [disabled]='login.invalid'>Login</button>
          <a href="javascript://" class="signup">Or register</a>
        </div>
      </form>
    </div>
  </div>
</clr-modal>
