<clr-wizard #wizard [(clrWizardOpen)]="status">
  <clr-wizard-title>Register</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Done</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="username.pristine || !formPageOne.valid">
      <ng-template clrPageTitle>Basic info</ng-template>

      <form clrForm #formPageOne="ngForm" clrLayout="vertical">
        <clr-input-container>
          <label>Username</label>
          <input clrInput required [(ngModel)]="formModel.user.username" name='username' #username="ngModel"/>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Password</label>
          <input clrInput required [(ngModel)]="formModel.password" name='password' #password="ngModel"/>
        </clr-input-container>
      </form>
  </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Optional info</ng-template>

      <form #formPageTwo="ngForm" clrLayout="horizontal">
        <label>Not necessary, but will likely be helpful</label>

        <clr-input-container>
          <label>Your name</label>
          <input clrInput [(ngModel)]="formModel.user.name"/>
          <clr-control-helper>If you prefer to have it displayed over username</clr-control-helper>
        </clr-input-container>

        <clr-input-container>
          <label>Email address</label>
          <input clrInput type='email' [(ngModel)]="formModel.user.email"/>
          <clr-control-helper>Don't worry, we won't send you spam (propably). Required for password reset.</clr-control-helper>
        </clr-input-container>


      </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid" clrWizardSize="md">
      <ng-template clrPageTitle>Summary</ng-template>

      <div *ngIf="formPageOne.valid && formPageTwo.valid">
          <p>Congratulations! You are done with this wizard.</p>
          <label>Your information</label>
          <section>
            <p>
              <label>Your name:</label>
              <span></span>
            </p>
            <p>
              <label>Your favorite food:</label>
              <span></span>
            </p>
            <p>
              <label>Your lucky number:</label>
              <span></span>
            </p>
          </section>
      </div>

      <div *ngIf="!formPageOne.valid || !formPageTwo.valid">
          <p>Not quite there yet.</p>
      </div>

  </clr-wizard-page>
</clr-wizard>
