<clr-wizard #wizard [(clrWizardOpen)]="status" [clrWizardClosable]="true" (clrWizardOpenChange)="openChange($event)" clrWizardSize="md">
  <clr-wizard-title>Register</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button (click)="register()" [type]="'finish'">Done</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="username.pristine || !formPageOne.valid">
      <ng-template clrPageTitle>Basic info</ng-template>

      <form clrForm #formPageOne="ngForm" clrLayout="vertical">
        <clr-input-container>
          <label>Username</label>
          <input clrInput required [(ngModel)]="formModel.user.username" name='username' #username="ngModel"/>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-password-container>
          <label>Password</label>
          <input clrPassword required [(ngModel)]="formModel.user.password" name='password' #password="ngModel" type="password" minlength="8"/>
          <clr-control-helper>Must contain at least 8 characters</clr-control-helper>
          <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
        </clr-password-container>

      </form>
  </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Optional info</ng-template>

      <form #formPageTwo="ngForm" clrLayout="horizontal">
        <label>Not necessary, but will likely be helpful</label>

        <clr-input-container>
          <label>Your name</label>
          <input clrInput [(ngModel)]="formModel.user.name" name="user" #user="ngModel"/>
          <clr-control-helper>If you prefer to have it displayed over username</clr-control-helper>
        </clr-input-container>

        <clr-input-container>
          <label>Email address</label>
          <input clrInput type='email' [(ngModel)]="formModel.user.email" name="email" #email="ngModel"/>
          <clr-control-helper>Don't worry, we won't send you spam (propably). Required for password reset.</clr-control-helper>
        </clr-input-container>


      </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
      <ng-template clrPageTitle>Summary</ng-template>

      <div *ngIf="formPageOne.valid && formPageTwo.valid">
          <p>Congratulations! You are now ready to register!</p>
          <label>Take a look at your information and go back if you want to change anything.</label>
          <section>
            <p>
              <label>Your username:</label>
              <span>{{ formModel.user.username }}</span>
            </p>
            <p>
              <label>Your name:</label>
              <span>{{ formModel.user.name }}</span>
            </p>
            <p>
              <label>Your email address:</label>
              <span>{{ formModel.user.email }}</span>
            </p>
          </section>
      </div>

      <div *ngIf="!formPageOne.valid || !formPageTwo.valid">
          <p>Not quite there yet.</p>
      </div>

  </clr-wizard-page>
</clr-wizard>
