/* You can add global styles to this file, and also import other style files */
.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  align-items: center;
}

my-app,
router-outlet {
  display: block;
}
