/* You can add global styles to this file, and also import other style files */
.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  align-items: center;
}

my-app,
router-outlet {
  display: block;
}

/* https://github.com/vmware/clarity/issues/2482, wymaga dalszych poprawek*/
@media screen and (max-width: 768px) {
  .clr-wizard {
    .modal-dialog {
      height: 100% !important;
      width: 100% !important;
    }

    .modal-content {
      min-width: 100%;
    }

    .modal-nav.clr-wizard-stepnav-wrapper {
      display: none;
    }
  }
}
